openapi: 3.0.3
info:
  title: DapurPintar AI Public API
  description: >
    DapurPintar AI versioned REST API. All AI operations return decision support;
    the user remains the final decision-maker. Resource ownership follows the
    approved bounded contexts. Versioned under /api/v1.
  version: 1.0.0-mvp-draft
servers:
  - url: https://api.dapurpintar.ai/api/v1
    description: MVP production
  - url: https://localhost:8443/api/v1
    description: Local development
tags:
  - name: Accounts
    description: Identity and Access account participation.
  - name: User Profiles
    description: User Context and Preferences personal cooking context.
  - name: Pantry
    description: Pantry Management availability context.
  - name: Recipes
    description: Culinary Knowledge and Recipe Experience discovery.
  - name: Favorites
    description: Recipe preference expression.
  - name: Meal Plans
    description: Meal Planning daily and weekly intent.
  - name: Shopping Lists
    description: Shopping Optimization purchase intent.
  - name: Recommendations
    description: AI-Assisted Kitchen Decision Support.
  - name: AI
    description: AI-assisted decision support operations.
paths:
  /accounts:
    post:
      tags: [Accounts]
      summary: Register a new account.
      operationId: registerAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAccountRequest'
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/login:
    post:
      tags: [Accounts]
      summary: Begin authenticated account participation.
      operationId: loginAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginAccountRequest'
      responses:
        '200':
          description: Authenticated session established.
          headers:
            Set-Cookie:
              description: Session cookies for access and refresh credentials.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/refresh:
    post:
      tags: [Accounts]
      summary: Rotate a valid refresh session.
      operationId: refreshAccount
      description: >
        Requires a valid refresh-session credential. Rotates the session lineage
        and returns a new access session. Reuse of an invalidated credential is
        treated as suspected theft and revokes the lineage.
      responses:
        '200':
          description: New access session issued.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /accounts/logout:
    post:
      tags: [Accounts]
      summary: End current account participation.
      operationId: logoutAccount
      security:
        - sessionAuth: []
      responses:
        '204':
          description: Session revoked and browser credentials cleared.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /accounts/me:
    get:
      tags: [Accounts]
      summary: View current account participation context.
      operationId: getCurrentAccount
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Current participation context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountView'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /profile:
    get:
      tags: [User Profiles]
      summary: View the current user profile.
      operationId: getProfile
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Current user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileView'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [User Profiles]
      summary: Update personal profile information.
      operationId: updateProfile
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Updated profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /profile/preferences:
    patch:
      tags: [User Profiles]
      summary: Change personal cooking preferences and constraints.
      operationId: updatePreferences
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
      responses:
        '200':
          description: Updated preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencesView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /pantry:
    get:
      tags: [Pantry]
      summary: View current pantry summary and availability context.
      operationId: getPantrySummary
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Pantry summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PantrySummaryView'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pantry/items:
    get:
      tags: [Pantry]
      summary: List pantry items with filtering and sorting.
      operationId: listPantryItems
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: category
          in: query
          description: Filter by pantry item category.
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PantryItemStatus'
        - name: sort
          in: query
          schema:
            type: string
            enum: [expiry_date, category, created_at]
            default: expiry_date
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Paginated pantry items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PantryItemView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Pantry]
      summary: Add a pantry item.
      operationId: addPantryItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPantryItemRequest'
      responses:
        '201':
          description: Pantry item added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PantryItemView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /pantry/items/{itemId}:
    get:
      tags: [Pantry]
      summary: View one pantry item.
      operationId: getPantryItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/itemId'
      responses:
        '200':
          description: Pantry item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PantryItemView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Pantry]
      summary: Adjust pantry item quantity, category, or expiry.
      operationId: updatePantryItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/itemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePantryItemRequest'
      responses:
        '200':
          description: Updated pantry item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PantryItemView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
    delete:
      tags: [Pantry]
      summary: Remove a pantry item from available context.
      operationId: removePantryItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/itemId'
      responses:
        '204':
          description: Pantry item removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /pantry/expiry:
    get:
      tags: [Pantry]
      summary: Review ingredients approaching expiry.
      operationId: listExpiringItems
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Expiring items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PantryItemView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /recipes:
    get:
      tags: [Recipes]
      summary: Discover and search recipes.
      operationId: listRecipes
      description: >
        Public for general content. Personalized suitability remains an
        authenticated AI Recommendation capability.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: q
          in: query
          description: Free-text search over title and summary.
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: max_prep_minutes
          in: query
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevance, prep_time, title]
            default: relevance
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Paginated public recipes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecipeSummaryView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '400':
          $ref: '#/components/responses/BadRequest'
  /recipes/{recipeId}:
    get:
      tags: [Recipes]
      summary: View recipe detail and cooking guidance.
      operationId: getRecipe
      parameters:
        - $ref: '#/components/parameters/recipeId'
      responses:
        '200':
          description: Recipe detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeDetailView'
        '404':
          $ref: '#/components/responses/NotFound'
  /favorites:
    get:
      tags: [Favorites]
      summary: List current user's favorite recipes.
      operationId: listFavorites
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated favorites.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FavoriteView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /favorites/recipes/{recipeId}:
    put:
      tags: [Favorites]
      summary: Mark a recipe as favorited idempotently.
      operationId: favoriteRecipe
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recipeId'
      responses:
        '204':
          description: Recipe favorited (idempotent).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Favorites]
      summary: Remove a recipe from favorites.
      operationId: unfavoriteRecipe
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recipeId'
      responses:
        '204':
          description: Recipe removed from favorites (idempotent).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /meal-plans:
    get:
      tags: [Meal Plans]
      summary: List daily and weekly meal plans.
      operationId: listMealPlans
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated meal plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MealPlanView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Meal Plans]
      summary: Create a meal plan for a defined period.
      operationId: createMealPlan
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMealPlanRequest'
      responses:
        '201':
          description: Meal plan created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /meal-plans/{planId}:
    get:
      tags: [Meal Plans]
      summary: View one meal plan.
      operationId: getMealPlan
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
      responses:
        '200':
          description: Meal plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Meal Plans]
      summary: Revise meal plan intent without lifecycle command.
      operationId: updateMealPlan
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMealPlanRequest'
      responses:
        '200':
          description: Updated meal plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /meal-plans/{planId}/cancel:
    post:
      tags: [Meal Plans]
      summary: Cancel a meal plan.
      operationId: cancelMealPlan
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
      responses:
        '200':
          description: Meal plan cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /meal-plans/{planId}/complete:
    post:
      tags: [Meal Plans]
      summary: Complete a meal plan.
      operationId: completeMealPlan
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
      responses:
        '200':
          description: Meal plan completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /meal-plans/{planId}/meals:
    get:
      tags: [Meal Plans]
      summary: List planned meals in a meal plan.
      operationId: listPlannedMeals
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated planned meals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlannedMealView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [Meal Plans]
      summary: Plan a meal in a date or meal occasion.
      operationId: planMeal
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanMealRequest'
      responses:
        '201':
          description: Planned meal created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedMealView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '404':
          $ref: '#/components/responses/NotFound'
  /meal-plans/{planId}/meals/{plannedMealId}:
    patch:
      tags: [Meal Plans]
      summary: Change a planned meal.
      operationId: updatePlannedMeal
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
        - $ref: '#/components/parameters/plannedMealId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlannedMealRequest'
      responses:
        '200':
          description: Updated planned meal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedMealView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
    delete:
      tags: [Meal Plans]
      summary: Remove a planned meal.
      operationId: removePlannedMeal
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/planId'
        - $ref: '#/components/parameters/plannedMealId'
      responses:
        '204':
          description: Planned meal removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists:
    get:
      tags: [Shopping Lists]
      summary: List current user's shopping lists.
      operationId: listShoppingLists
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated shopping lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShoppingListView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Shopping Lists]
      summary: Create a shopping list.
      operationId: createShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShoppingListRequest'
      responses:
        '201':
          description: Shopping list created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /shopping-lists/generate:
    post:
      tags: [Shopping Lists]
      summary: Generate purchase intent from meal, pantry, or explicit context.
      operationId: generateShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateShoppingListRequest'
      responses:
        '201':
          description: Generated shopping list (Draft, reviewable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /shopping-lists/{listId}:
    get:
      tags: [Shopping Lists]
      summary: View one shopping list.
      operationId: getShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Shopping list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Shopping Lists]
      summary: Revise shopping list details without lifecycle command.
      operationId: updateShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShoppingListRequest'
      responses:
        '200':
          description: Updated shopping list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /shopping-lists/{listId}/activate:
    post:
      tags: [Shopping Lists]
      summary: Activate a reviewed shopping list.
      operationId: activateShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Shopping list activated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists/{listId}/complete:
    post:
      tags: [Shopping Lists]
      summary: Complete a shopping list.
      operationId: completeShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Shopping list completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists/{listId}/cancel:
    post:
      tags: [Shopping Lists]
      summary: Cancel a shopping list.
      operationId: cancelShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Shopping list cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists/{listId}/archive:
    post:
      tags: [Shopping Lists]
      summary: Archive a completed or cancelled shopping list.
      operationId: archiveShoppingList
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Shopping list archived.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists/{listId}/items:
    get:
      tags: [Shopping Lists]
      summary: List shopping items.
      operationId: listShoppingItems
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated shopping items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShoppingItemView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [Shopping Lists]
      summary: Add a shopping item.
      operationId: addShoppingItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddShoppingItemRequest'
      responses:
        '201':
          description: Shopping item added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingItemView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists/{listId}/items/{itemId}:
    patch:
      tags: [Shopping Lists]
      summary: Revise shopping item details without changing completion state.
      operationId: updateShoppingItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
        - $ref: '#/components/parameters/itemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShoppingItemRequest'
      responses:
        '200':
          description: Updated shopping item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingItemView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
    delete:
      tags: [Shopping Lists]
      summary: Remove a shopping item.
      operationId: removeShoppingItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
        - $ref: '#/components/parameters/itemId'
      responses:
        '204':
          description: Shopping item removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shopping-lists/{listId}/items/{itemId}/complete:
    post:
      tags: [Shopping Lists]
      summary: Complete one shopping item.
      operationId: completeShoppingItem
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/listId'
        - $ref: '#/components/parameters/itemId'
      responses:
        '200':
          description: Shopping item completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingItemView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations:
    get:
      tags: [Recommendations]
      summary: List current user's recommendations with status and purpose filters.
      operationId: listRecommendations
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/RecommendationStatus'
        - name: purpose
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated recommendations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecommendationView'
                  page:
                    $ref: '#/components/schemas/Page'
                  request_id:
                    $ref: '#/components/schemas/RequestId'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Recommendations]
      summary: Request a contextual kitchen recommendation.
      operationId: requestRecommendation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRecommendationRequest'
      responses:
        '202':
          description: Recommendation requested and being created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /recommendations/{recommendationId}:
    get:
      tags: [Recommendations]
      summary: View one recommendation and its options.
      operationId: getRecommendation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      responses:
        '200':
          description: Recommendation detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationDetailView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations/{recommendationId}/present:
    post:
      tags: [Recommendations]
      summary: Mark a recommendation as available for user consideration.
      operationId: presentRecommendation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      responses:
        '200':
          description: Recommendation presented.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationDetailView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations/{recommendationId}/options/{optionId}/accept:
    post:
      tags: [Recommendations]
      summary: Accept one recommendation option for possible later action.
      operationId: acceptRecommendationOption
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
        - $ref: '#/components/parameters/optionId'
      responses:
        '200':
          description: Recommendation option accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationDetailView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations/{recommendationId}/reject:
    post:
      tags: [Recommendations]
      summary: Reject a recommendation for the current decision.
      operationId: rejectRecommendation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      responses:
        '200':
          description: Recommendation rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationDetailView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations/{recommendationId}/supersede:
    post:
      tags: [Recommendations]
      summary: Supersede current guidance when context changes.
      operationId: supersedeRecommendation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      responses:
        '200':
          description: Recommendation superseded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationDetailView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations/{recommendationId}/conversation:
    post:
      tags: [Recommendations]
      summary: Start the recommendation-scoped AI conversation.
      operationId: startConversation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
        - $ref: '#/components/headers/IdempotencyKey'
      responses:
        '201':
          description: Conversation started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags: [Recommendations]
      summary: View the recommendation-scoped conversation context.
      operationId: getConversation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      responses:
        '200':
          description: Conversation context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations/{recommendationId}/conversation/messages:
    post:
      tags: [Recommendations]
      summary: Continue the recommendation-scoped conversation.
      operationId: continueConversation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinueConversationRequest'
      responses:
        '200':
          description: Assistant response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /recommendations/{recommendationId}/conversation/close:
    post:
      tags: [Recommendations]
      summary: Close the conversation context.
      operationId: closeConversation
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      responses:
        '200':
          description: Conversation closed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'
  /ai/pantry-analysis:
    post:
      tags: [AI]
      summary: Analyze authorized pantry context and return decision support.
      operationId: analyzePantry
      security:
        - sessionAuth: []
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      responses:
        '200':
          description: Pantry analysis decision support.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PantryAnalysisView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: dp_session
      description: >
        HttpOnly, Secure, SameSite session cookie carrying the authenticated
        session. State-changing requests require the CSRF header approved in the
        final session transport policy.
  headers:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >
        Client-supplied request identity for retry-sensitive POST commands.
        Scoped to the authenticated user and endpoint; retained at least 24 hours.
        Reusing a key with a different payload is a validation conflict.
      schema:
        type: string
        maxLength: 64
  parameters:
    cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for stable pagination.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Page size. Default 20, server-enforced maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    itemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    recipeId:
      name: recipeId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    planId:
      name: planId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    plannedMealId:
      name: plannedMealId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    listId:
      name: listId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    recommendationId:
      name: recommendationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    optionId:
      name: optionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Request malformed or violates contract-level validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing, malformed, expired, or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Identity valid but outside authorized scope or account restricted.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not available within the authorized scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Request conflicts with current aggregate or session state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unprocessable:
      description: Understandable but violates a domain validation or business rule.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Caller exceeded a documented usage or abuse limit.
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: AI provider or internal dependency failure; core operations remain usable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    RequestId:
      type: string
      description: Correlation identifier echoed in the X-Request-ID header.
    Page:
      type: object
      required: [has_more]
      properties:
        next_cursor:
          type: string
          nullable: true
        has_more:
          type: boolean
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              description: Stable machine-readable error code.
            message:
              type: string
              description: User-safe explanation.
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'
            request_id:
              $ref: '#/components/schemas/RequestId'
    ErrorDetail:
      type: object
      required: [field, code, message]
      properties:
        field:
          type: string
        code:
          type: string
        message:
          type: string
    AccountStatus:
      type: string
      enum: [pending, active, restricted, closed]
    ProfileStatus:
      type: string
      enum: [created, incomplete, ready, updated]
    PantryItemStatus:
      type: string
      enum: [available, running_low, expiring_soon, consumed, removed]
    RecipeStatus:
      type: string
      enum: [available, revised, retired]
    MealPlanStatus:
      type: string
      enum: [draft, planned, in_progress, completed, cancelled, revised]
    PlannedMealStatus:
      type: string
      enum: [proposed, planned, revised, removed, completed]
    ShoppingListStatus:
      type: string
      enum: [draft, generated, reviewed, active, completed, cancelled, archived, revised]
    ShoppingItemStatus:
      type: string
      enum: [open, completed, removed]
    RecommendationStatus:
      type: string
      enum: [requested, created, presented, accepted, rejected, superseded, unable_to_complete]
    RegisterAccountRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
        display_name:
          type: string
          minLength: 1
          maxLength: 120
        timezone:
          type: string
          default: Asia/Jakarta
    RegisterAccountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AccountView'
        request_id:
          $ref: '#/components/schemas/RequestId'
    LoginAccountRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    LoginAccountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AccountView'
        request_id:
          $ref: '#/components/schemas/RequestId'
    RefreshAccountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AccountView'
        request_id:
          $ref: '#/components/schemas/RequestId'
    AccountView:
      type: object
      required: [id, email, status, timezone, created_at]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        status:
          $ref: '#/components/schemas/AccountStatus'
        timezone:
          type: string
        email_verified:
          type: boolean
        created_at:
          type: string
          format: date-time
    UserProfileView:
      type: object
      required: [id, account_id, display_name, status, timezone]
      properties:
        id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        display_name:
          type: string
        status:
          $ref: '#/components/schemas/ProfileStatus'
        timezone:
          type: string
        preferences:
          $ref: '#/components/schemas/PreferencesView'
        created_at:
          type: string
          format: date-time
    UpdateProfileRequest:
      type: object
      properties:
        display_name:
          type: string
          minLength: 1
          maxLength: 120
        timezone:
          type: string
    PreferencesView:
      type: object
      properties:
        status:
          type: string
        preferences:
          type: object
        valid_from:
          type: string
          format: date
    UpdatePreferencesRequest:
      type: object
      properties:
        preferences:
          type: object
          description: Declared preferences and cooking constraints.
        valid_from:
          type: string
          format: date
    PantrySummaryView:
      type: object
      properties:
        data:
          type: object
          properties:
            total_items:
              type: integer
            expiring_soon_count:
              type: integer
            running_low_count:
              type: integer
        request_id:
          $ref: '#/components/schemas/RequestId'
    AddPantryItemRequest:
      type: object
      required: [ingredient_name, category, quantity]
      properties:
        ingredient_name:
          type: string
          minLength: 1
          maxLength: 200
        category:
          type: string
          minLength: 1
          maxLength: 100
        quantity:
          type: number
          minimum: 0
        unit:
          type: string
          maxLength: 20
          default: unit
        expiry_date:
          type: string
          format: date
    UpdatePantryItemRequest:
      type: object
      properties:
        quantity:
          type: number
          minimum: 0
        unit:
          type: string
          maxLength: 20
        category:
          type: string
          maxLength: 100
        expiry_date:
          type: string
          format: date
          nullable: true
        status:
          $ref: '#/components/schemas/PantryItemStatus'
    PantryItemView:
      type: object
      required: [id, ingredient_name, category, quantity, unit, status]
      properties:
        id:
          type: string
          format: uuid
        pantry_id:
          type: string
          format: uuid
        ingredient_name:
          type: string
        category:
          type: string
        quantity:
          type: number
        unit:
          type: string
        expiry_date:
          type: string
          format: date
          nullable: true
        status:
          $ref: '#/components/schemas/PantryItemStatus'
        created_at:
          type: string
          format: date-time
    RecipeSummaryView:
      type: object
      required: [id, title, summary, servings]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        summary:
          type: string
        servings:
          type: integer
        prep_time_minutes:
          type: integer
          nullable: true
        cook_time_minutes:
          type: integer
          nullable: true
    RecipeDetailView:
      type: object
      required: [id, title, summary, servings, ingredients, instructions]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        summary:
          type: string
        servings:
          type: integer
        prep_time_minutes:
          type: integer
          nullable: true
        cook_time_minutes:
          type: integer
          nullable: true
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/RecipeIngredient'
        instructions:
          type: array
          items:
            type: string
        is_public:
          type: boolean
    RecipeIngredient:
      type: object
      required: [name, quantity]
      properties:
        name:
          type: string
        quantity:
          type: string
    FavoriteView:
      type: object
      required: [recipe]
      properties:
        recipe:
          $ref: '#/components/schemas/RecipeSummaryView'
        created_at:
          type: string
          format: date-time
    CreateMealPlanRequest:
      type: object
      required: [period_start, period_end]
      properties:
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        title:
          type: string
          maxLength: 120
    UpdateMealPlanRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 120
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
    MealPlanView:
      type: object
      required: [id, period_start, period_end, status]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        status:
          $ref: '#/components/schemas/MealPlanStatus'
        created_at:
          type: string
          format: date-time
    PlanMealRequest:
      type: object
      required: [meal_date, meal_occasion]
      properties:
        meal_date:
          type: string
          format: date
        meal_occasion:
          type: string
          enum: [breakfast, lunch, dinner, snack]
        recipe_id:
          type: string
          format: uuid
          nullable: true
        recommendation_option_id:
          type: string
          format: uuid
          nullable: true
    UpdatePlannedMealRequest:
      type: object
      properties:
        meal_occasion:
          type: string
          enum: [breakfast, lunch, dinner, snack]
        recipe_id:
          type: string
          format: uuid
          nullable: true
        status:
          $ref: '#/components/schemas/PlannedMealStatus'
    PlannedMealView:
      type: object
      required: [id, meal_date, meal_occasion, status]
      properties:
        id:
          type: string
          format: uuid
        meal_plan_id:
          type: string
          format: uuid
        meal_date:
          type: string
          format: date
        meal_occasion:
          type: string
        recipe:
          $ref: '#/components/schemas/RecipeSummaryView'
        recommendation_option_id:
          type: string
          format: uuid
          nullable: true
        status:
          $ref: '#/components/schemas/PlannedMealStatus'
    CreateShoppingListRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 120
    GenerateShoppingListRequest:
      type: object
      properties:
        meal_plan_id:
          type: string
          format: uuid
          nullable: true
        recommendation_id:
          type: string
          format: uuid
          nullable: true
        include_pantry_check:
          type: boolean
          default: true
    UpdateShoppingListRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 120
    ShoppingListView:
      type: object
      required: [id, title, status]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        status:
          $ref: '#/components/schemas/ShoppingListStatus'
        item_counts:
          type: object
          properties:
            open:
              type: integer
            completed:
              type: integer
        created_at:
          type: string
          format: date-time
    AddShoppingItemRequest:
      type: object
      required: [ingredient_name]
      properties:
        ingredient_name:
          type: string
          minLength: 1
          maxLength: 200
        quantity:
          type: number
          minimum: 0
          default: 1
        unit:
          type: string
          maxLength: 20
          default: unit
        source:
          type: string
          enum: [manual, generated]
          default: manual
    UpdateShoppingItemRequest:
      type: object
      properties:
        ingredient_name:
          type: string
          minLength: 1
          maxLength: 200
        quantity:
          type: number
          minimum: 0
        unit:
          type: string
          maxLength: 20
    ShoppingItemView:
      type: object
      required: [id, ingredient_name, quantity, unit, source, status]
      properties:
        id:
          type: string
          format: uuid
        shopping_list_id:
          type: string
          format: uuid
        ingredient_name:
          type: string
        quantity:
          type: number
        unit:
          type: string
        source:
          type: string
          enum: [manual, generated]
        status:
          $ref: '#/components/schemas/ShoppingItemStatus'
        created_at:
          type: string
          format: date-time
    RequestRecommendationRequest:
      type: object
      properties:
        purpose:
          type: string
          description: Business purpose of the recommendation request.
        max_prep_minutes:
          type: integer
          minimum: 0
          nullable: true
        use_expiring_first:
          type: boolean
          default: true
    RecommendationView:
      type: object
      required: [id, status, rationale]
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/RecommendationStatus'
        purpose:
          type: string
        rationale:
          type: string
        confidence_statement:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
    RecommendationDetailView:
      type: object
      required: [id, status, rationale, options]
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/RecommendationStatus'
        purpose:
          type: string
        rationale:
          type: string
        confidence_statement:
          type: string
          nullable: true
        options:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationOptionView'
        created_at:
          type: string
          format: date-time
    RecommendationOptionView:
      type: object
      required: [id, position, rationale, status]
      properties:
        id:
          type: string
          format: uuid
        position:
          type: integer
        recipe:
          $ref: '#/components/schemas/RecipeSummaryView'
        rationale:
          type: string
        status:
          type: string
          enum: [proposed, selected, rejected, superseded]
    ConversationView:
      type: object
      required: [id, recommendation_id, status]
      properties:
        id:
          type: string
          format: uuid
        recommendation_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [open, completed, archived, deleted]
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ConversationMessage'
    ContinueConversationRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 4000
    ConversationMessage:
      type: object
      required: [role, content, created_at]
      properties:
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        created_at:
          type: string
          format: date-time
    PantryAnalysisView:
      type: object
      required: [data]
      properties:
        data:
          type: object
          properties:
            use_first_opportunities:
              type: array
              items:
                type: object
                properties:
                  pantry_item_id:
                    type: string
                    format: uuid
                  ingredient_name:
                    type: string
                  suggestion:
                    type: string
            limitations:
              type: array
              items:
                type: string
        request_id:
          $ref: '#/components/schemas/RequestId'
